{{#each blogs as |blog|}}
<div class="each-post">
    <a href="/posts/{{id}}">
        <h2>{{blog.title}}</h2>
    </a>
        <p><em>{{blog.date_created}}</em></p>
    <p>{{blog.post}}</p>
    {{!-- how do I get the user.id to be the name? --}}
    <p><em>By {{blog.user.username}}</em></p>
</div>
{{/each}}