<div class="each-post">
    <h2>{{blogs.title}}</h2>
    <p><em>{{blogs.date_created}}</em></p>
    <p>{{blogs.post}}</p>
    <p><em>By {{blogs.user.username}}</em></p>
</div>
{{!-- for each comment --}}
{{#each blogs.comments as |comment|}}
<div class="comment">
    <p>{{comment.comment}}</p>
    <p><em>Comment By: <strong>{{comment.username}}</strong> on {{comment.date_created}}</em></p>
</div>
{{/each}}

{{#if loggedIn}}
<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
        data-bs-auto-close="outside">Leave Comment</button>
    <form class="dropdown-menu p-4">

        <div class="mb-3">
            <label for="DropdownFormComment" class="form-label d-flex justify-content-start">Comment</label>

            <textarea name="comment" id="DropdownFormComment" cols="100" rows="10"
                placeholder="write comment here"></textarea>
            <br>
            <button type="submit" class="btn btn-primary d-flex justify-content-end">Post Comment</button>
        </div>
    </form>
    <button class="btn btn-outline-success update" type="submit">
        Update Post
    </button>
    <button class="btn btn-outline-success delete" type="submit">
        Delete Post
    </button>
    {{else}}
    <p><em>Login to comment, update, and delete a post.</em></p>
    {{/if}}
</div>