<div class="each-post">
    <h2>{{blogs.title}}</h2>
    <p><em>{{blogs.date_created}}</em></p>
    <p>{{blogs.post}}</p>
    <p><em>By {{blogs.user.username}}</em></p>
</div>
{{!-- for each comment --}}
{{#each blogs.comments as |comment|}}
<div>
    <p>{{comment.comment}}</p>
    <p class="comment"><em>Comment by <strong>{{comment.username}}</strong> on {{comment.date_created}}</em></p>
</div>
{{/each}}

{{#if loggedIn}}

<a href="/addcomment/{{blogs.id}}"><button id="update-link" class="btn card-link btn1">Add Comment</button></a>

{{else}}
<p><em>Login to leave a comment.</em></p>
{{/if}}
</div>