    {{!-- update and delete routes --}}
    <div>
    <a href="/dashboard/updatepost/{{blogs.id}}"><button id="update-link" class="btn card-link btn1">Update this
            Post</button></a>

    <a href="/dashboard/deletepost/{{blogs.id}}"><button id="delete-link" class="btn card-link">Delete this
            Post</button></a>
    </div>

<div class="each-post user-post">
    <h2>{{blogs.title}}</h2>
    <p><em>{{blogs.date_created}}</em></p>
    <p>{{blogs.post}}</p>
    <p><em>By {{blogs.user.username}}</em></p>
</div>
{{!-- for each comment --}}
{{#each blogs.comments as |comment|}}
<div class="comment">
    <p>{{comment.comment}}</p>
    <p><em>Comment By: <strong>{{comment.username}}</strong> on {{comment.date_created}}</em></p>
</div>
{{/each}}
